{% extends 'page.html' %}
{% block title %}Events{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12">
    <h2>
      July Workshop: Love Your Database
      <small>
        (<a href="https://www.facebook.com/events/389774077738836/">Facebook Event Page</a>)
      </small>
    </h2>

    <dl>
      <dt>Date:</dt>
      <dd>July 12, 2012</dd>
      <dt>Time:</dt>
      <dd>7:00 PM to 9:00 PM</dd>
      <dt>Location:</dt>
      <dd>
        <address>
          Three Wise Men Inc.<br>
          1077 Boundary Rd., Unit 207<br>
          Oshawa, ON L1J 8P8
        </address>
      </dd>
      <dt>RSVP to:</dt>
      <dd>
        <a href="info@durhamitassociation.com">info@durhamitassociation.com</a>
      </dd>
    </dl>

    <p>
      SQL, or Structured Query Language is a reasonably standardized way to
      communicate with relational database systems. While many developers
      invest tremendous efforts into learning their programming language and
      ecosystem, often learning more about the database is put on the
    </p>
    <p>
      Couple this with the popularity of IDE (Integrated Development
      Environment) tooling and ORM (Object Relational Mapping) technologies,
      developers often rely too heavily on these tools to construct efficient
      schemas and queries.
    </p>
    <p>
      Join us on Thursday July 12th for an evening workshop dedicated to that
      database server in the corner that just never gets enough love.
    </p>
    <p>
      What to bring:
      <ul>
        <li>
          A Laptop
        </li>
      </ul>
    </p>
    <p>
      What's provided:
      <ul>
        <li>
          WIFI Internet connection
        </li>
        <li>
          Mentors and discussion ideas
        </li>
        <li>
          Light refreshments
        </li>
      </ul>
    </p>
  </div>
</div>
{% endblock %}
