{% extends 'page.html' %}
{% block title %}Durham I.T. Association{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12">
    <div id="logo"><img src="/img/logo.png"></div>
    <h1>Welcome</h1>
    <p class="lead">Welcome to the Durham I.T. Professionals Group</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <p>
      <i>
        The Durham I.T. Professionals group is a peer networking group for I.T.
        professionals who live or work in Durham Region.
      </i>
    </p>
    <p>
      We are in the process of planning our events for 2012, and re-vamping our website.
      Check back in the coming months for big changes!
    </p>
  </div>
  <div class="span6">
    <p>
      This space has been donated by the now-defunkt Durham I.T. Association. Our hope
      is to re-develop what was the most successful aspect of "DITA" which was the peer
      networking group.
    </p>
    <p>
      If you would like more information on the group and our activities, send an email
      to:<br>
      <address>
        <strong>Durham I.T. Professionals Group</strong><br>
        <a href="mailto:info@durhamitassociation.com">info@durhamitassociation.com</a>
      </address>
    </p>
  </div>
</div>
{% endblock %}
